
@font-face {
  font-family: iconfont; /* Project id 3273743 */
  src: url('./iconfont.ttf') format('woff2'),
       url('./iconfont.ttf') format('woff'),
       url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-forward-null:before {
  content: "\e60c";
}

.icon-yujing1:before {
  content: "\e777";
}

.icon-yiliaozhiliangfenxi:before {
  content: "\e685";
}

.icon-jiaoyu:before {
  content: "\e60a";
}

.icon-minzhengtubiao1-04:before {
  content: "\e637";
}

.icon-jiedianpanduan:before {
  content: "\e6df";
}

.icon-fenxibaogao:before {
  content: "\e6d4";
}

.icon-neizi:before {
  content: "\e6de";
}

.icon-wodeAPP:before {
  content: "\e784";
}

.icon-wenjian:before {
  content: "\e601";
}

.icon-renyuan:before {
  content: "\e65e";
}

.icon-yunwei-xitongjiance:before {
  content: "\e61a";
}

.icon-gongzhang:before {
  content: "\e6a6";
}

.icon-qiyerending-:before {
  content: "\e605";
}

.icon-bg-back:before {
  content: "\e63c";
}

.icon-ef-renwu-gongju:before {
  content: "\e629";
}

.icon-police-fill:before {
  content: "\e600";
}

.icon-gonggao-tongzhi-09:before {
  content: "\e92c";
}

