* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 500px;
}

// 开启3D
div {
    transform-style: preserve-3d;
}

// 大海
.sea {
    width: 800px;
    height: 800px;
    // border: 1px solid red;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);

    .surface {
        width: 100%;
        height: 100%;
        background-color: #2be3fa;
        position: absolute;
        overflow: hidden;
        animation: surface 13s ease-in-out infinite alternate, rotateZ 20s linear infinite;
    }
}

// 船
.ship {
    position: absolute;
    // top: 50%;
    // left: 10%;
    // transform: translate(-50%, -50%);
    // 区域内的元素都会产生投影
    filter: drop-shadow(-30px, 40px, 0, rgba(0, 0, 0, 0.1));

    animation: ship 90s linear infinite ;

    .rotate {
        // transform: rotateZ(10deg);

    }

    .human {
        position: absolute;
        left: 40px;
        top: 0;

        .hat {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #f0f09e;
            animation: hat 1s ease-in-out infinite alternate;
        }

        .hat::before {
            content: "";
            width: 16px;
            height: 16px;
            border: 1px solid #d9845d;
            border-radius: 100%;
            position: absolute;
            left: 7px;
            top: 7px;
            transform-style: preserve-3d;
            transform: translateZ(5px);
        }

        .leg {
            width: 20px;
            height: 8px;
            background-color: #0849a3;
            border-radius: 40%;
            position: absolute;

        }

        .leg.left {
            left: -10px;
            top: 16px;
            transform: rotateZ(-5deg);
        }

        .leg.right {
            left: -10px;
            top: 6px;
            transform: rotateZ(5deg);
        }

        .leg::before {
            content: "";
            width: 5px;
            height: 7px;
            background-color: #fff;
            position: absolute;
        }
    }

    // 船体
    .body {
        position: relative;

        .base {
            width: 100px;
            height: 30px;
            background-color: #dead5e;
            border-radius: 45%;

            ::before {
                content: "";
                width: 96px;
                height: 26px;
                position: absolute;
                border-radius: 45%;
                left: 2px;
                top: 2px;
            }
        }

        // 前后两块木板
        .board {
            width: 10px;
            height: 20px;
            background-color: #d9845d;
            border-radius: 2px;
            position: absolute;
            top: 5px;

        }

        .board.front {
            right: 20px;
        }

        .board.back {
            left: 20px;
        }

        .waves {
            position: absolute;

            .wave {
                position: absolute;
                animation: wave 2s linear infinite;

                .graphic {
                    background-color: #fff;
                    animation: surface 2s ease-in-out infinite alternate, rotateZ 6s linear infinite;
                }
            }

            .bodywaves {
                .wave {
                    left: var(--left);
                    top: var(--top);
                    animation-delay: calc(var(--delay)*-1);

                    .graphic {
                        width: var(--width);
                        height: var(--height);
                    }
                }
            }

            .oarwaves {
                .wave {
                    left: var(--left);
                    top: var(--top);
                    animation-delay: calc(var(--delay)*-1);

                    .graphic {
                        width: var(--width);
                        height: var(--height);
                    }
                }
            }
        }
    }

    .oars {
        position: absolute;
        left: 50px;
        top: -30px;
        transform: translateZ(10px);

        .graphic {
            width: 3px;
            height: 40px;
            background-color: #d9845d;
            position: relative;
            animation: oarGraphic 1s ease-in-out infinite alternate;



        }

        .graphic::before {
            content: "";
            width: 9px;
            height: 15px;
            background-color: #d9854d;
            position: absolute;
            left: -3px;
            top: 0;
            border-radius: 5px 5px 100% 100%;
        }

        .oar {
            position: absolute;
            left: 50%;
            top: 0;
        }

        .oar.right {
            transform-origin: 50% 45px;
            transform: scaleY(-1);
        }

        .row {
            transform-origin: 50% 35px;
            animation: row 1s ease-in-out infinite alternate;
        }

        .depth {
            transform-origin: 50% 35px;
            animation: depth 1s ease-in-out infinite alternate;
            animation-delay: -500ms;
        }
    }

}


// 定义动画
@keyframes surface {
    0% {
        border-radius: 50% 70% 70% 50%/50% 50% 70% 70%;
    }

    25% {
        border-radius: 65% 45% 51% 49%/49% 52% 48% 51%;
    }

    50% {
        border-radius: 42% 58% 40% 72%/65% 44% 66% 45%;
    }

    75% {
        border-radius: 44% 66% 63% 47%/77% 48% 62% 43%;
    }

    100% {
        border-radius: 24% 76% 72% 28%/53% 68% 32% 47%;
    }
}

@keyframes rotateZ {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes ship {
    0% {
        top: 50%;
        left: 18%;
        transform: rotateZ(-90deg);
    }
    13% {
        top: 38%;
        left: 30%;
        transform: rotateZ(-45deg);
    }
    25% {
        top: 18%;
        left: 50%;
        transform: rotateZ(0deg);
    }
    38% {
        top: 32%;
        left: 70%;
        transform: rotateZ(45deg);
    }
    50% {
        top: 50%;
        left: 82%;
        transform: rotateZ(90deg);
    }
    63% {
        top: 68%;
        left: 70%;
        transform: rotateZ(135deg);
    }

    75% {
        top: 82%;
        left: 50%;
        transform: rotateZ(180deg);
    }
    88% {
        top: 68%;
        left: 30%;
        transform: rotateZ(225deg);
    }
    100% {
        top: 50%;
        left: 18%;
        transform: rotateZ(270deg);
    }
}

@keyframes hat {
    0% {
        transform: translateZ(10px) translateX(-5px) translateY(3px) rotateY(10deg);
    }

    100% {
        transform: translateZ(10px) translateX(0px) translateY(3px) rotateY(-10deg);
    }
}

@keyframes wave {
    0% {
        transform: translateX(0) scale(0);
    }

    10% {
        transform: translateX(-10px) scale(1);
    }

    100% {
        transform: translateX(-130px) scale(0);
    }
}

// 船桨翻动动画
@keyframes oarGraphic {
    0% {
        transform: rotateY(-60deg);
    }

    100% {
        transform: rotateY(-110deg);
    }
}

@keyframes row {
    0% {
        transform: rotateZ(20deg);
    }

    100% {
        transform: rotateZ(-50deg);
    }
}

@keyframes depth {
    0% {
        transform: rotateX(-20deg);
    }

    100% {
        transform: rotateX(30deg);
    }
}