* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.container .button {
  position: relative;
  width: 160px;
  height: 50px;
  margin: 0 15px;
  cursor: pointer;
}

.container .button .shape {
  fill: none;
  stroke: #009ffd;
  stroke-width: 6px;
  stroke-dasharray: 10 5;
  stroke-dashoffset: 0;
  transition: 0.5s ease;
}

.container .button .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  letter-spacing: 2px;
}

.container .button:hover .shape {
  stroke-dasharray: 10 0;
  stroke-dashoffset: 0;
}
