* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #001d30;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: changeBackground 10s linear infinite;
}

.container .loading {
  position: absolute;
  width: 150px;
  height: 150px;
  background: linear-gradient(to top, #001d30 40%, #51eeee);
  border-radius: 50%;
  animation: loadingRotate 1s linear infinite;
}

.container .loading::before {
  content: "";
  position: absolute;
  background-color: #001d30;
  inset: 20px 20px 0 0;
  border-radius: 50%;
}

.container .loading::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #51eeee;
  border-radius: 50%;
  top: 50px;
  right: -8px;
  box-shadow: 0 0 5px #51eeee, 0 0 25px #51eeee, 0 0 50px #51eeee, 0 0 75px #51eeee;
}

@keyframes loadingRotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeBackground {
  to {
    filter: hue-rotate(360deg);
  }
}
