* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  // height: 100vh;
  // width: 100vw;
}
.text-container {
  height: 50%;

  .random-text {
    height: 50vh;
    width: 100%;
    font-size: 20px;
    background-color: transparent;
  }
}
//流边按钮
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .button {
    position: relative;
    width: 160px;
    height: 50px;
    margin: 0 15px;
    cursor: pointer;
    .shape {
      //取消填充
      fill: none;
      //定义一条线
      stroke: #009ffd;
      //线的厚度
      stroke-width: 6px;
      //设置虚线  长度  间距
      stroke-dasharray: 10 5;
      //虚线偏移量
      stroke-dashoffset: 0;
      //过度效果
      transition: 0.5s ease;
    }
    .text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      letter-spacing: 2px;
    }
  }
  .button:hover .shape {
    // stroke: #06e6a0;
    // stroke-width: 3;
    stroke-dasharray: 10 0;
    stroke-dashoffset: 0;
  }
}
